.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*My css*/
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Playfair Display", serif;
  font-size: 1.25;
}

.contactFooter {
  margin-top: rem;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contactFooter a {
  color: black;
  padding: 2rem;
}
.contactFooter a:hover {
  color: rgba(114, 116, 117, 0.9);
}

/* .background {
  background: -webkit-linear-gradient(
      rgba(135, 60, 255, 1),
      rgba(135, 60, 255, 0) 0%
    ),
    -webkit-linear-gradient(-45deg, rgba(117, 148, 184, 0.9) 45%, rgba(
            178,
            238,
            240,
            0.6
          )
          0%);
  min-height: 100vh;
} */

.background {
  background: linear-gradient(
    90deg,
    rgba(117, 148, 184, 0.9) 0%,
    rgba(178, 238, 240, 0.6) 100%
  );
  height: 100vh;
}
.logo {
  height: 7em;
  padding: 0.5, 0, 0.5, 1rem;
}
.logo:hover {
  transform: rotate(180deg);
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
li {
  list-style: none;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-right: 2rem;
}

li a {
  text-decoration: none;
  color: inherit;
}

Nav.Link {
  color: black;
  font-size: 2rem;
}

.navItem a:hover {
  color: rgb(53, 52, 52);
}
/* pic*/
.profilePic {
  border: 3px solid white;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  margin-left: 10rem;
  margin-top: 6rem;
  margin-right: 0rem;
}

.nameBlock {
  /* height: 400px;
  width: 400px; */
  padding-top: 6rem;
  margin-bottom: 7rem;
  position: relative;
  /* right: 11rem; */
}
.name {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: "Lato", sans-serif;
  text-shadow: 1px 2px rgba(56, 21, 21, 0.7);
}
.cursive {
  padding: 1rem, 0, 0, 0;
  font-family: "Allura", cursive;
  font-size: 3rem;
}
.aboutMe {
  font-size: 1.2rem;
}
/*contact*/
.contact-section {
  margin-top: 3rem;
  text-align: center;
  margin-bottom: 9rem;
}

input,
textarea {
  min-width: 30rem;
  display: inline-block;
  border-radius: 10px;
}

.formBtn {
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  margin-top: 1rem;
}

#contact-form {
  margin-left: 3rem;
  display: inline-block;
  padding-top: 1rem;
}

/*Resume*/
.resumeDiv {
  padding: 3rem;
  padding-left: 5rem;
}
.front-end ul li,
.back-end ul li {
  padding: 0rem;
  list-style: inside;
}
.resumeLink {
  color: black;
  text-decoration: none;
  font-size: larger;
}
.resumeLink:hover {
  color: rgba(249, 251, 252, 0.9);
}
.wrapper {
  text-align: center;
}
.wrapper h2 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.project {
  text-align: center;
  margin: 2rem;
  position: relative;
  height: 300px;
}
.img-container {
  height: 300px;
}
.project-description {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(28, 61, 82, 0.8);
  color: #fff;
  visibility: hidden;
  opacity: 0;
}
.project:hover .project-description {
  visibility: visible;
  opacity: 1;
}
.git {
  height: 5rem;
  padding: 1rem;
}
.deployed {
  color: #fff;
}
.deployed:hover {
  color: rgba(2, 13, 26, 0.9);
}
.img-container a img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1024px) {
  .profilePic {
    margin-left: 14rem;
  }
  .nameBlock {
    margin-left: 5rem;
  }
}

@media only screen and (max-width: 900px) {
  .navItem a {
    font-size: 1rem;
  }
  .contact-section {
    margin: 0rem;
    text-align: center;
    margin-bottom: 9rem;
  }
  input,
  textarea {
    min-width: 20rem;
    display: inline-block;
    border-radius: 10px;
  }
  .profilePic {
    margin-left: 11rem;
  }
}

@media only screen and (max-width: 700px) {
  .profilePic {
    margin-left: 3rem;
  }
}

@media only screen and (max-width: 565px) {
  .navItem a {
    font-size: 0.5rem;
  }
  .profilePic {
    margin-left: 2.5rem;
  }
}
@media only screen and (max-width: 507px) {
  .navItem a {
    font-size: 0.5rem;
    margin: 0rem;
  }
  .profilePic {
    margin-left: 1rem;
    height: 300px;
    width: 300px;
    padding-bottom: 0rem;
  }
}
